<form action="/singin" method="post">
  <input name="id" id="username" type="text" placeholder="Your username" /></br>
  <input name="password" id="password" type="password" placeholder="Your password"/></br>
  <input name="name" id="name" type="text" placeholder="Your name" /></br>
  <input type="submit" value='SingIn'/>
</form>
