<h2>You visited the note page</h2>

<h3>Χρηστης {{username}}</3>

<h3>{{notetions}}</h3>

<form method='get' action='/setNote'>
  <input name='note' id='note' type='textfield' placeholder="New note ...">
  <input type='submit' value='save'>
</form>
