<h2>You visited the note page</h2>

<h3>Χρηστης {{username}}</h3>

{{{notes}}}
</br>
<form method='get' action='/setNote'>
  <textarea name='note' id='note' type='textfield' placeholder="New note ..." rows="4" cols="50"></textarea>
  <input type='submit' value='save'></input>
</form>

<a href='http://localhost:3000/profile'>profile</a>
