
<form action="/login" method="post">
  <input name="username" id="username" type="text" placeholder="Your username" /></br>
  <input name="password" id="password" type="password" placeholder="Your password"/></br>
  <input type="submit" value='Login'/>
</form>


<a href="/auth/google">Login with Google</a></br></br>

<a href="http://localhost:3000/register">Sing In to nodejs Authentication </a>
